* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div > h1 {
    font-size: 70px;
}

body {
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.botao {

    margin-top: 30%;
    text-align: center;
}


.titulo {
    margin-top: 10%;
    flex-direction: column;
    text-align: center;
    color: #fff;
 }