<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style-index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>

    <div class=titulo>
        <h1 class="animated fadeIn delay-1s">Poesie</h1>
        <h1 class="animated fadeIn delay-1s">-se</h1>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-between">
                <a href="../create" class="col-5 btn btn-primary botao animated fadeIn delay-2s">Cadastrar</a>
                <a href="../login" class="col-5 btn btn-primary botao animated fadeIn delay-2s">Já possuo conta</a>
        </div>
        
    </div>

    

</body>
</html>